/* card-body sass */
.h-c-content {
    padding: 16px;
}

.h-c-hospital-name {
    font-family: Lato Black;
    font-size: 40px;
}

.h-c-hospital-address {
    font-family: Lato Regular;
    font-size: 20px;
}

.h-c-hospital-phone {
    font-family: Lato Regular;
    font-size: 20px;
}

.h-c-hospital-website {
    font-family: Lato Regular;
    font-size: 20px;
}
